header {
    background-color: #242633;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  header #menu {
    color: #FFF;
    font-family: Bigelow Rules; 
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #10141B;

    padding: 10px;
  }
  header img {
    width: 215.309px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;


  }
  .menu1{
    display: flex;
    color: white;
    font-weight: 700;
  
    
  }

  body{
    background-image: url('../images/Ressources/Ressources/background.webp');
    margin: 0;
  }
  