$color_1: #FFF;
$color_2: white;
$font-family_1: 'Bigelow Rule' sans-serif;
$font-family_2: Sofia Sans;
$background-color_1: #242633;
$background-color_2: #10141B;
$background-color_3: #433C87;
$background-color_4: black;

header {
	background-color: $background-color_1;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	#menu {
		display: flex;
		text-align: center;
		justify-content: space-between;
		align-items: center;
		background-color: $background-color_2;
		padding: 5px;
		flex-wrap: wrap;
	}
	img {
		width: 215.309px;
		height: 80px;
	}
}
.menu2 {
	margin: 20px;
	color: $color_1;
	font-family: $font-family_1;
}
.menu1 {
	display: flex;
	color: $color_2;
	font-weight: 700;
}
body {
	background-image: url('../images/Ressources/Ressources/background.webp');
	color: $color_1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}
#main_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 100px;
	flex-wrap: wrap;
}
#gauche {
	margin: 0%;
	background: linear-gradient(180deg, #433C87 0%, rgba(67, 60, 135, 0.00) 100%);
	position: relative;
	width: 563px;
	height: 752px;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	button {
		border-radius: 30px;
		background-color: $background-color_3;
		border: 2px solid #433C87;
		color: $color_1;
		width: 204px;
		height: 50px;
		flex-direction: column;
		justify-content: center;
	}
}
.rectangle {
	padding: 50px;
	text-align: center;
	font-family: $font-family_2;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
#droite {
	background-image: url('../images/Ressources/Ressources/losange.webp');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	width: 700px;
	height: 900px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#icons {
	padding-top: 43%;
}
#bouton {
	margin: 150px;
}
footer {
	background-color: $background-color_4;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	flex-wrap: wrap;
}
#bas {
	border: 2px solid white;
	margin: 20px;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	width: 90%;
}
