$color_1: #FFF;
$color_2: white;
$font-family_1: Bigelow Rules;
$background-color_1: #242633;
$background-color_2: #10141B;

header {
	background-color: $background-color_1;
	text-align: center;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	#menu {
		color: $color_1;
		font-family: $font-family_1;
		display: flex;
		text-align: center;
		justify-content: space-between;
		align-items: center;
		background-color: $background-color_2;
		padding: 10px;
	}
	img {
		width: 215.309px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.menu1 {
	display: flex;
	color: $color_2;
	font-weight: 700;
}
body {
	background-image: url('../images/Ressources/Ressources/background.webp');
	margin: 0;
}
#main_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 50px;
}
#losange {
	background: linear-gradient(180deg, #433C87 0%, rgba(67, 60, 135, 0.00) 100%);
}
